argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
async-generator
attrs
backcall
Backtesting
beautifulsoup4
black
bleach
bokeh
Brotli
certifi
cffi
charset-normalizer
click
cryptography
cycler
debugpy
decorator
defusedxml
distlib
Django
django-pandas
entrypoints
executing
filelock
fonttools
h11
idna
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
mplfinance
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numexpr
numpy
outcome
packaging
pandas
pandas-datareader
pandocfilters
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
plotly
prometheus-client
prompt-toolkit
ptyprocess
pure-eval
pycparser
Pygments
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
QtPy
requests
scikit-learn
scipy
seaborn
selenium
Send2Trash
six
sniffio
sortedcontainers
soupsieve
sqlparse
stack-data
TA-Lib
tables
tenacity
terminado
testpath
threadpoolctl
tomli
tornado
traitlets
trio
trio-websocket
typing_extensions
urllib3
virtualenv
wcwidth
webencodings
websocket-client
wget
widgetsnbextension
wsproto
zipp
